.about-img{
  img{
    padding: 10px;
  }
}
.about-info {
  h2 {
    font-size: 40px;
    padding: 0 0 10px 0;
    color: $heading-color;
  }
  p {
    font-size: 18px;
    padding: 0 0 20px 0;
  }
  .button {
    border: 1px solid #FF0057;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: $heading-color;
    &:hover{
      background: #FF0057;
      transition: .5s;
      color: #fff;
    }
  }
}
