.contact{
  background: $bg;
  h2{
    font-size: 40px;
    font-family: $inter;
    font-weight: 600;
    margin: 0 0 30px 0;
  }
  input{
    width: 100%;
    margin: 10px 0;
    padding: 5px 5px 5px 15px;
    border: none;
  }
  textarea{
    border: none;
    margin: 10px 0 0 0;
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
  button{
    border: none;
    outline: none;
    margin: 20px 0;
    
    a{
       background: $primery-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    &:hover{
      background: #c50747;
      transition: .5s;
    }
    }
  }
}