.footer{
  padding: 40px 0;
  background: $heading-color;
  color: #fff;
  h3{
    font-size: 20px;
    font-weight: 500;
    font-family: $inter;
    margin: 0 0 20px 0;
  }
  ul{
    padding: 0;
    li{
      text-decoration: underline;
      list-style: none;
      margin: 5px 0;
      a{
        color: #fff;
        i{
          font-size: 18px;
          padding: 0 10px 0 0;
          color: $primery-color;
        }
      }
    }
  }
  .social-media-footer{
    a{
      i{
        font-size: 18px;
        padding: 12px;
        color: $primery-color;
      }
    }
  }
  .footer-bottom{
    p{}
    ul{
      display: flex;
      li{
        padding: 0 15px;
      }
    }
  }
}
