@media screen and (max-width: 768px) {
  .header-top{
    display: none;
  }
  .navbar{
  padding: 0 15px 0 15px;
}
.footer .footer-bottom ul li {
    padding: 0 10px;
}
.footer .footer-bottom{
  p{
    font-size: 16px !important;
  }
}
.ads {
  h2 {
    font-size: 30px;
  }
  .ads-tel{
    font-size: 70px;
  }
}
.portfolio h2 {
    font-size: 30px;
}
.ads .ads-tel {
    font-size: 60px;
}
