*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import'./variables';
@import'./header';
@import'./presentation';
@import'./about';
@import'./portfolio';
@import'./ads';
@import'./clients';
@import'./services';
@import'./contact';
@import'./footer';
@import'./responsive';